.carousel-indicators {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 2rem;
}

.carousel-indicators button {
  margin: 0 3px 5px;
}

.certificate-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  padding: 0 10px;
}

.certificate-wrapper img {
  max-height: 80vh;
  max-width: 95%;
  height: auto;
  object-fit: contain;
  transform: none !important;
  -webkit-transform: none !important;
  -webkit-filter: blur(0);
  filter: blur(0);
}

@media (min-width: 768px) {
  .certificate-wrapper img {
    max-width: 75%;
  }
}

#certificateCarousel .carousel-control-prev,
#certificateCarousel .carousel-control-next {
  background-color: rgba(0,0,0,0.3);
  width: 10%;
  border-radius: 5px;
}

#certificateCarousel {
  margin-bottom: 50px;
}